# Git
.git
.github
.gitignore

# Virtual Environments
new_env
mlops_env
venv
.venv

# Python Cache
__pycache__
*.pyc
*.pyo

# Testing
.pytest_cache
.coverage
htmlcov

# IDE
.vscode
.idea

# Documentation
docs
notebooks

# Logs & Experiment Tracking
logs
mlruns

# Operating System
.DS_Store

# Packaging
*.egg-info

# Secrets / Environment Files
.env
.env.*
!.env.example

# Optional
README.md

# DVC local cache and metadata
.dvc

# Training / pipeline datasets
data

# DVC pipeline files
.dvcignore
dvc.yaml
dvc.lock