# Git
.git
.github
.gitignore

# Virtual Environments
new_env
mlops_env
venv
.venv

# Python Cache
__pycache__
*.pyc
*.pyo

# Testing
.pytest_cache
.coverage
htmlcov

# IDE
.vscode
.idea

# Documentation
docs
notebooks

# Logs & Experiment Tracking
logs
mlruns

# Operating System
.DS_Store

# Packaging
*.egg-info

# Secrets
.env

# Optional
README.md